body {background:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);}
.vid {
    display: block;
    text-align: center;
    color: white;

}
.top {
    display: flex;
    flex-direction: row;
   
}

ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

li {
    list-style-type: none;
    padding-right: 90px;
}


.top a {
    color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    text-decoration: none;
    margin-left: 60px;
    font-size: 20px;
          
}
